* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Exo;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 100000;
}

header.sticky {
    background: linear-gradient(45deg, #261853, #280e7c);
    ;
    padding: 0 100px;
}



header img {
    width: 5rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

header img:hover {
    transform: scale(1.2);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

header nav ul li:hover {
    border-bottom: 2px solid black;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-size: bold;
    color: white;
}


/* Home section  */
#home {
    background-image: url(Images/Desert.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: change 18s infinite ease-in-out;
}

@keyframes change {
    0% {
        background-image: url(Images/Desert.jpg);
        opacity: 1;
    }

    20% {
        background-image: url(Images/Kashmir.jpg);
        opacity: 1;
    }

    40% {
        background-image: url(Images/temple.jpg);
        opacity: 1;
    }

    60% {
        background-image: url(Images/lake.jpg);
        opacity: 1;
    }

    80% {
        background-image: url(Images/Rajas2.jpg);
        opacity: 1;
    }

    100% {
        background-image: url(Images/sunset.jpg);
        opacity: 1;
    }
}

#home h2 {
    position: absolute;
    top: 10%;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px;
}

body span {
    background-image: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn {
    position: absolute;
    bottom: 40px;
    padding: 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: white;
}


/* About Section */
#about {
    background: linear-gradient(135deg, #153677, #4e085f);
    min-height: 100vh;
    padding: 20px;
    color: white;
    position: relative;
}

#about p {
    font-size: 1rem;
}

#about .upper-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 15px 10px 40px cyan;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.upper-content:hover {
    transform: scale(1.1);
}

.upper-content h1 {
    margin-bottom: 20px;
    font-size: 3rem;
}

#about .lower-content {
    position: absolute;
    top: 30%;
    padding: 20px;
}

.lower-content h1 {
    font-weight: bold;
    font-size: 2rem;
}

.lower-content h1 span {
    background-image: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lower-content .choose {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px;
    background: linear-gradient(#9418fd, #571094);
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.choose:hover {
    transform: scale(1.04);
}


/* Packages section  */
#package {
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 20px;
}

#package h1 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 3rem;
}

#packages {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.pack {
    height: 300px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #535050;
    box-shadow: 20px 20px 60px #474444,
        -20px -20px 60px #5f5c5c;
}

.pack .details {
    position: absolute;
    bottom: -200px;
    transition: all .3s ease-in-out;
    text-align: center;
    padding: 0 20px;
}

.pack .details h2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pack .details p {
    margin-top: 30px;
    color: white;
}

.details button {
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: white;
    transition: transform .3s ease-in-out;
}

.details button:hover {
    transform: scale(1.1);
}

.pack:hover .details {
    bottom: 50px
}

.pack:hover img {
    filter: blur(5px);
    filter: brightness(30%);
}

/* .pack:nth-child(1) {
    background-image: url(Images/Kashmir1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pack:nth-child(2) {
    background-image: url(Images/Kaashi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pack:nth-child(3) {
    background-image: url(Images/ooty.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pack:nth-child(4) {
    background-image: url(Images/goa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pack:nth-child(5) {
    background-image: url(Images/manali.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pack:nth-child(6) {
    background-image: url(Images/andman.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.pack img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 0.3s ease-in-out;
}



/* services section  */
#services {
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}

#services h2 {
    text-align: center;
    font-size: 2.5rem;
}

.serve {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    color: white;
}

.services {
    border: 1px solid white;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    transition: transform .2s ease-in-out;
}

.services .img {
    display: flex;
    justify-content: center;
}

.services img {
    width: 100px;
    color: white;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.services p {
    padding: 20px;
}

.services:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 30px cyan;
}


/* Review Section */
/* #review img {
    
    height: auto;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 40px;
}  */

@font-face {
    font-family: Exo;
    src: url(./fonts/Exo2.0-Medium.otf);
}

#review {
    background-color: #1f252e;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
}

#review h1 {
    margin-bottom: 100px;
    padding-top: 50px;
    text-align: center;
    color: white;
}

.review {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-card {
    position: relative;
    font-family: sans-serif;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 25px;
    height: 220px;
    width: 220px;
    cursor: pointer;
}

.profile-card:hover {
    border-radius: 10px;
    width: 260px;
    height: 360px;
}

.profile-card .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .6s;
    z-index: 99;
}

.profile-card:hover .img {
    position: absolute;
    top: 0;
}

.profile-card .img img {
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}

.caption {
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    transition: .6s;
}

.caption p {
    font-size: 1.1rem;
}

.profile-card:hover .caption {
    opacity: 1;
}

/* footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px;
    /* Adjust as needed */
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li:last-child {
    margin-right: 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.footer-social ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}


/* scrollbar design */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}