*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #363a3b;
}

.container {
    position: relative;
    display: flex;
    gap: 100px;
}

.box {
    position: relative;
    /* display: flex; */
    width: 200px;
    height: 200px;
    cursor: pointer;
    /* background-color: #111; */
}

.box span {
    position: absolute;
    width: 200px;
    height: 1px;
    background: var(--img);
    background-size: 200px;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.box.active span {
    transform: translateX(var(--x)) rotate(var(--r));
}