*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #333;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.card {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr);
}