*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0e0e0e;
    overflow: hidden;
    width: 100%;
    padding: 5px;
}

.numbers {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.numbers span {
    position: relative;
    font-size: 3em;
    color: rgb(255, 255, 255, 0.05);
    font-weight: 900;
    line-height: 0.9;
    transition: 1s;
    user-select: none;
}

.numbers span:hover {
    color: #fff;
    transition: 0s;
}


