*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0e0e0e;
    overflow: hidden;
    width: 100%;
}

.numbers {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

