*
{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #363a3b;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#container .box {
    position: relative;
    width: 400px;
    height: 100px;
    filter: drop-shadow(0 0 10px #0ac9e2) drop-shadow(0 0 30px #0ac9e2);
    cursor: pointer;
}

.box::before {
    content: '';
    position: absolute;
    inset: -10px;
    border: 2px solid #7ef0ff;
}

.box span {
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #7ef0ff;
    transition: 0.4s ease-in-out;
}

.box.active span {
    transform: translateX(300px);
}