*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #333;
}

#text {
    position: relative;
    color: white;
    font-size: 8em;
}

#light{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px #fff,
    0 0 50px #fff,
    0 0 100px #fff,
    0 0 200px #fff,
    0 0 300px #fff;
}