*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: radial-gradient(#4c0c0c, #250707);
}

i{
    position: absolute;
    height: 30px;
    width: 30px;
    filter: drop-shadow(5px 5px 10px #000) drop-shadow(0px 0px 10px #f00);
    pointer-events: none;
    animation: animate 2s linear infinite;
    /* background: #f00; */
}

i::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    background: #f00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform-origin: bottom center;
    rotate: 315deg;
}
i::after {
    content: '';
    position: absolute;
    bottom: 2.5px;
    width: 30px;
    height: 20px;
    background: #f00;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transform-origin: bottom center;
    rotate: 315deg;
}

@keyframes animate {
    0% {

    }
    0% {
        
    }
    0% {
        
    }
}